body{
    height: 100vh;
    border:solid;
    margin:0;
    position: static;
    background-image:url('../images/background.jpg');
    font-family: 'Arial';
}
header{
    width: fit-content;
    height: 30px;
    border-radius: 20px;
    background-color: #212121;
    padding:20px 0px 20px 50px;
    margin:20px 20px 0px 0px;
}
.footer{
    width:100%;
    height:fit-content;
    background-color: black;
    color:white;
    margin:0;
    text-align: center;
    padding:4px 0px 0px 0px;
}
header a{
    color:white;
    padding:0px 10px 0px 10px;
    margin:0px 15px 0px 0px;
    text-decoration:none;
    font-weight: bold;
}
header a:hover{
    color:gold;
    
}
header img{
    height:30px;
}

.content{
    width:100%;
    height:fit-content;
    border:solid white;
    margin:0;
}

.info-wrapper{
    width:50%;
    height:fit-content;
    color:white;
    margin:0px 0px 0px 0px;

}
.info-text{
    float:right;
    height: 400px;
    margin:50px 0px 0px 50px;
    bottom: 0;
}
.info-text img{
    height: 50px;
    margin:0px 10px 0px 0px;
}
.info-text h1{
    font-size: 80px;
    margin:0;
}

.my-image{
    float:left;
    height:300px;
    width:300px;
    
}
.footer{
    background-color: black;
    color: white;
    width:100%;
    margin-top:500px;
}