body{
    height: 100vh;
    border:solid;
    margin:0;
    position: relative;
    background-image:url('../images/background.jpg');
    font-family: 'Arial';
}
header{
    width:700px;
    height: 30px;
    float: right;
    border-radius: 20px;
    background-color: #212121;
    padding:20px 0px 20px 50px;
    margin:20px 20px 0px 0px;
}
header a{
    color:white;
    padding:0px 10px 0px 10px;
    margin:0px 15px 0px 0px;
}
header a:hover{
    color:gold;
    
}
header img{
    height:30px;
}
.info-wrapper{
    width:fit-content;
    height: fit-content;
    color:white;
    margin:200px 0px 0px 200px;
}
.info-text{
    float:right;
    height: 400px;
    margin:50px 0px 0px 50px;
    bottom: 0;
}
.info-text img{
    height: 50px;
    margin:0px 10px 0px 0px;
}
.info-text h1{
    font-size: 80px;
    margin:0;
}

.my-image{
    float: left;
    height:400px;
    width:400px;
    
}
footer{
    background-color: black;
    color: white;
    bottom:0;
    width:100%;
    position: absolute;
}