body{
    margin:0;
    position: static;
    background-image:url('../images/background.jpg');
    font-family: 'Arial';
    color:white;
}
.contact-container{
    /* height: 100vh;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows:1fr 1fr 1fr; 
    grid-row-gap: 20px; */
}
header{
    width: fit-content;
    height: 30px;
    border-radius: 20px;
    background-color: #212121;
    padding:20px 0px 20px 50px;
    margin:20px 20px 0px 0px;
    /* grid-column:1/3;
    grid-row:1; */


}
header a{
    color:white;
    padding:0px 10px 0px 10px;
    margin:0px 15px 0px 0px;
    text-decoration:none;
    font-weight: bold;
}
header a:hover{
    color:gold;
    
}
header img{
    height:30px;
}
footer{
    background-color: black;
    text-align: center;
    padding:10px 0px 10px 0px;
    /* grid-column: 1/4;
    grid-row:4; */
}
.compare-container{
    display:grid;
    justify-items: center;
    width:90%;
    border-radius: 10px;
    margin:30px 0px 30px 0px;
    background-color: aquamarine;
    grid-template-columns:1fr 1fr;
    grid-template-rows:60px 1fr;
    grid-column-gap:10px;
    padding-bottom: 20px;
    grid-row-gap: 20px;
}
.research-container{
    display:grid;
    justify-items: center;
    width:90%;
    border-radius: 10px;
    margin:30px 0px 30px 0px;
    background-color: aquamarine;
    grid-template-columns:1fr;
    grid-template-rows:60px 1fr 1fr 1fr;
    padding-bottom: 20px;
    grid-row-gap: 20px;
}
.research-container h1{
    margin:0;
    padding:10px 0px 10px 0px;
    width: 100%;
    border-radius: 10px;
    background-color: red;
}
.compare-container h1{
    margin:0;
    padding:10px 0px 10px 0px;
    width: 100%;
    border-radius: 10px;
    background-color: red;
}
.research-wrapper{
    display:grid;
    justify-items: center;
    width:900px;
    border-radius: 10px;
    margin:20px 0px 20px 0px;
    background-color: black;;
    grid-template-columns:1fr 1fr;;
    grid-template-rows:250px;
    grid-column-gap:0px;
    padding-bottom: 20px;
    grid-row-gap: 20px;
}

.compare-container img{
    width:500px;
    height:250px;
    margin:0;
    padding: 0;
}
.compare-container p{
    width: 80%;
    margin:0;
    padding:0;
}
.text-wrapper{
    width:500px;
    height:150px;
    padding:0;
    background-color: wheat;
    margin:0;
    color:black;
    font-family: 'Arial';
    text-align: justify;
}
.research-wrapper img{
    width:500px;
    height: 250px;
    margin:0;
    padding:0;
}
.research-text-wrapper{
    width: 400px;
    height: 250px;
}
.research-text-wrapper p{
    width: 80%;
    height: 250px;
    text-align: justify;
}
